section.product 
    .container 
        .product-top 
            .product-top--title Best Cosmetic Products
            .product-top--desc Launched in 2002, Makeup City has brought renowned international personal care brands under one roof for the first time in Pakistan. from a journey of a few stores, we have grown significantly, by making our brands available to almost every where a person can think off.
        .product-container.product-middle 
            .product-img
                img(src="./images/img/img_gos.png", alt="")
            .product-content 
                .product-content--title GOS- Primer Plus 30 ML
                .product-content--desc GOSH COPENHAGEN offers a wide selection of products in different categories: Cosmetics, Fragrances, Hair Care, Face Care, Body Care. GOSH Cosmetics are available online. 
                a(href="").product-content--loadmore Load More
        .product-container.product-bottom
            .product-content 
                .product-content--title HD Micro Foundation Matifying Liquid
                .product-content--desc HD Micro Foundation Matifying Liquid is a micronized and gently mattifying foundation with vitamin E for the most natural look. 
                a(href="").product-content--loadmore Load More
            .product-img 
                img(src="./images/img/img_hd_micro.png", alt="")