section.brand 
    .coitainer  
        .brand-title SOME OF OUR TRUSTED CLIENTS
        .brand-list 
            img(src="./images/brands/img_stripe.png", alt="").brand-item
            img(src="./images/brands/img_google.png", alt="").brand-item
            img(src="./images/brands/img_deloitte.png", alt="").brand-item
            img(src="./images/brands/img_accenture.png", alt="").brand-item
            img(src="./images/brands/img_ibm.png", alt="").brand-item
            img(src="./images/brands/img_samsung.png", alt="").brand-item
