section.choose 
    .container 
        .choose-top 
            .choose-left 
                .choose-left--text Why Choose Us ?
                .choose-left--title How to use ? <br> learn more details.
            .choose-right
                img(src="./images/shapes/img_shape_use.png", alt="").choose-right--img
                .choose-right--content 
                    .choose-right--title Dose not contain alcohol.
                    .choose-right--text PH 3.5
        .choose-bottom
            .choose-bottom--img
                img(src="./images/img/img_use_top.png", alt="").choose-bottom--imgTop
                img(src="./images/img/img_use_bottom.png", alt="").choose-bottom--imgBottom
            .choose-bottom--content 
                .choose-bottom--title Apply & Ingredients
                .choose-bottom--desc 
                    p Give your face that gorgeous sun-kissed look with high-quality bronzers! Makeup city is a house to international brands that sell natural-looking bronzers. Bronzing is about giving your face the perfect dimension and warmth. 
                    p If you are looking for ways to warm up your pale skin, apply bronzer, and see the difference. Bronzer face seems the smart way to add glamour to your otherwise simplistic look.
                a(href="#").choose-bottom--btn 
                    .choose-bottom--arrow 
                        span →
                    span Learn More