section.cta 
    .container 
        .cta-container 
            .cta-content    
                .cta-content--text 
                    .cta-content--title Enough talk, let's make you look beautiful
                    .cta-content--desc There are many variations of passages of lorem Ipsum available, but the
                img(src="./images/img/img_beautiful.png", alt="").cta-content--img 
                .cta-content--btn Let’s started
            .cta-background 