section.customer    
    .cointainer 
        .customer-slider 
            .customer-img 
                .customer-box
                img(src="./images/img/img_customer-1.png", alt="")
            .customer-content 
                .customer-content--context 
                    .customer-content--story Customer Story
                    .customer-content--title Quick and best results. You are the best!
                    .customer-content--desc
                        p “If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                        p There are many variations of passages of Lorem Ipsum available.”
                    .customer-content--name Dragos Gontariu
                    .customer-content--job Mareting Manager
                .customer-content--listDot
                    .customer-content--dot.active
                    .customer-content--dot
                    .customer-content--dot