footer.footer#contactus
    .container 
        .footer-container 
            .footer-top 
                .footer-desc 
                    img(src="./images/img_logo.png", alt="").footer-desc--logo 
                    .footer-desc--text Nor again is there anyone who loves or pursues or desires to obtain pain of itself.
                    .footer-desc--input 
                        input(type="text", name="", placeholder="Enter your email")
                .footer-menu
                    +footerItem("About", "Home", "Features", "FAQs", "Reviews","Stories" )
                .footer-menu
                    +footerItem("Privacy", "Privacy", "Policy", "Payment", "Terms" )
                .footer-contact 
                    .footer-menu--title Contact Us
                    .footer-contact--info 
                        p +01 234 567 8910 
                        p shakir260@gmail.com
                    .footer-contact--social
                        a(href="").footer-contact--img
                            img(src="./images/icons/ic_instagram.png", alt="")
                        a(href="").footer-contact--img
                            img(src="./images/icons/ic_linked_in.png", alt="")
                        a(href="").footer-contact--img
                            img(src="./images/icons/ic_fb.png", alt="")
                        a(href="").footer-contact--img
                            img(src="./images/icons/ic_twitter.png", alt="")    
            .footer-bottom
                .footer-copyright © Copyright 2023 arshakir.com. All rights reserved.
                .footer-menu--other 
                    a(href="") Contact Us 
                    a(href="") Terms 
