header.header 
    .container 
        .header-top 
            .header-top-logo 
                a.header-logo-img(href="#")
                    img(src="./images/img_logo.png", alt="")
            .header-navbar +
            .header-top-menu
                a.header-menu-item.active(href="#home") home
                a.header-menu-item(href="#aboutus") about us
                a.header-menu-item(href="#products") products
                a.header-menu-item(href="#faqs") faqs
                a.header-menu-item(href="#contactus") contact us
            .header-top-other
                a.header-other-icon(href="#") 
                    img(src="./images/icons/ic_search.png", alt="", srcset="")
                a.header-other-icon(href="#") 
                    img(src="./images/icons/ic_basket.png", alt="", srcset="")
                a.header-other-icon(href="#") 
                    img(src="./images/icons/ic_person.png", alt="", srcset="")
        .header-container#home
            .header-container-left 
                .header-container-delivery 
                    p Free delivery worldwide
                    img(src="./images/icons/ic_delivery.png", alt="", srcset="")
                .header-container-title Foundation Matte & Poreless
                .header-container-desc Maybelline’s #1 foundation perfect for oily skin. No stickiness, no shine.
                .header-container-btn 
                    .header-container-cart Add to Cart
                    .header-container-work 
                        .header-container-circle
                            .header-container-play ▶ 
                        <span>How It Works</span>
            .header-container-right 
                img(src="./images/img/img_header.png", alt="", srcset="").header-container-img
                .header-container-details 
                    .header-details 
                        .header-details-title Details 
                        .header-details-price $100,45
                        .header-details-ml 30 mL
                        .header-details-rate ★★★★<span>★</span>
                        .header-details-btn 
                            .header-details-prev <
                            .header-details-next >
    .btn-scroll-top ↑

           
        