section.questions#faqs
    .container 
        .questions-title Frequently Ask Questions
        .questions-container 
            .questions-left 
                +questionItem("questions-accordion-active", "./images/icons/ic_minus.png", "./images/icons/ic_plus.png","minus","plus", ` How long until we deliver your product.`, `It takes 
                2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we MUST do before writing your first blog post.`,
                `questions-accordion--content--active`)
                +questionItem("","./images/icons/ic_plus.png", "./images/icons/ic_minus.png","plus","minus", ` Do you ship out of United States?`, `It takes 
                2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we MUST do before writing your first blog post.`,"")
            .questions-right 
                +questionItem("","./images/icons/ic_plus.png", "./images/icons/ic_minus.png","plus","minus", ` Do you offer money back guarentee?`, `It takes 
                2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we MUST do before writing your first blog post.`,"")
                +questionItem("","./images/icons/ic_plus.png", "./images/icons/ic_minus.png","plus","minus", ` Is it medically tested?`, `It takes 
                2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we MUST do before writing your first blog post.`,"")
                +questionItem("","./images/icons/ic_plus.png", "./images/icons/ic_minus.png","plus","minus", ` How to get best results from this product?`, `It takes 
                2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we MUST do before writing your first blog post.`,"")