.header{
    min-height: 800px;
    background: url("../images/shapes/img_shape_header.png") center/100% no-repeat;
    background-position-y: 100px;
    background-position-x: 20px;
    @media screen and (max-width: 1023px) {
        background: unset;
    }
    &-top{
        padding: 50px 90px 0px 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        transition: all .3s linear;
       @media screen and (max-width: 1023px){
        padding: 50px 50px 0 50px
       }
       @media screen and (max-width: 767px){
        padding: 00px 50px 0 50px;
        height: 60px;
       }
        &-menu, &-other{
            display: flex;
            gap: 20px;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;
        }
        @media screen and (max-width: 767px){
            &-menu{
                transform: translate(500px, 50px);
                transition: all .6s linear;
                flex-flow: column;
                position: fixed;
                top: 0;
                height: 500px;
                background-color: white !important;
                z-index: 1;
                padding: 0 100px 0 50px;
                height: 100%;
            }
            &-other{
                display: none;
            }
        }
        &-other{
            gap: 30px;
        }
        
    }
    &-navbar{
        display: none;
        @media screen and (max-width: 767px){
            display: block;
            font-size: 30px;
            transform: rotate(0deg);
            transition: all .3s linear;
        }
    }
    &-other-icon{
        position: relative;
        &:nth-child(2):after{
            content:"2";
            color: white;
            position: absolute;
            top: -40%;
            right: -20%;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: red;
            font-size: 11px;
            border-radius: 50%;
        }
    }
    .active{
        border-bottom: 2px solid black;
    }
    &-container{
        // margin-top: 30px;
        padding: 40px 103px 0px 59px;
        // padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        &-left{
            width: 35%;
        }
        &-right{
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
        }
        @media screen and (max-width: 1023px) {
            flex-direction: column;
            &-left, &-right{
                width: 100%;
            }
            &-right{
                justify-content: center;
            }
        }
        
        &-delivery{
            display: flex;
            align-items: center;
            justify-content:space-between;
            padding: 8px 16px 8px 19px;
            border: 1px solid #FCC7C3;
            border-radius: 20px;
            width:60%;
            flex-direction: row;
            font-size: 14px;
            background: #FFDAD7;
            margin-bottom: 17px;
            img{
                filter: drop-shadow(2px 4px 20px rgba(255, 119, 125, 0.6));
            }
            @media screen and (max-width: 1023px) {
                width: 50%;
            }
        }
        &-title
        {
            font-family: 'Abhaya Libre ExtraBold';
            font-weight: 800;
            font-size: 100px;
            line-height: 86px;
            width: 130%;
            color: #292019;
            @media screen and (max-width: 1023px) {
                width: unset;
                font-size: 80px;
            }
        }
        
        &-desc{
            font-weight: 500;
            font-size: 20px;
            line-height: 34px;
            color: #000000;
            opacity: 0.4;
            width: 80%;
            @media screen and (max-width: 1023px) {
                width: unset;
            }
        }
        @media screen and (max-width: 767px){
            padding: 20px 53px 0 29px ;
            &-delivery{
                font-size: 12px;
                width: 80%;
            }
            &-title{
                font-size: 55px;
                line-height: 50px;
            }
            &-desc{
                font-size: 16px;
                line-height: 25px;
                padding-top: 15px;
            }
        }
        &-btn{
            display: flex;
            align-items: center;
            margin-top: 36px;
            gap: 30px;
            
        }
        &-cart{
            padding: 18px 25px 18px 28px;
            background: rgb(185, 17, 34);
            border-radius: 8px;
            color: white;
            cursor: pointer;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            transition: box-shadow .3s ease;
            &:hover{
                box-shadow: 0px 15px 20px rgba(185, 17, 34, 0.4);
                transition: box-shadow .3s ease;
            }
            @media screen and (max-width: 767px){
                padding: 18px 20px 18px 20px;
                font-size: 14px;
                line-height: 10px;
            }
        }
        &-work{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
            cursor: pointer;
            span{
                opacity: 0.4;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                @media screen and (max-width: 767px){
                    font-size: 13px;
                }
            }
            @media screen and (max-width: 767px){
                gap: 15px
            }
            &:hover .header-container-circle::before{
                animation: animateCircle 2s infinite linear;
                z-index: 1;
            }
        }
        &-circle{
            padding: 15px;
            border: 2px solid #FFAC9C;
            border-radius: 50%;
            position: relative;
            &::before{
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: white;
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: -1;
            }
         
        }
        &-play{
            color: white;
            background: linear-gradient(180deg, #B91122 0%, #D65B66 100%), #FFFFFF;
            box-shadow: 0px 10px 20px rgba(220, 84, 58, 0.3);
            font-size: 10px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            z-index: 1;
        }
        &-details {
            width: 100%;
            background: #FFF8E7;
            backdrop-filter: blur(82px);
            border-radius: 20px;
        }
    }
    &-details{
        padding: 50px 45px 50px 63px;
        width: 275px;
        color: black;
        @media screen and (max-width: 1023px) {
            width: unset;
            padding-left: 53px;
        }
        &-title{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            opacity: 0.4;
            
        }
        &-price{
            font-family: 'Abhaya Libre ExtraBold';
            font-style: normal;
            font-weight: 800;
            font-size: 38px;
            line-height: 40px;
            padding-bottom: 40px;
            @media screen and (max-width: 1023px) {
                font-size: 30px;
            }
        }
        &-ml{
            font-family: 'Abhaya Libre ExtraBold';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 24px;
        }
        &-rate{
            font-size: 10px;
            color: #E79331;
            padding-bottom: 46px;
            span{
                color: #2F1319;
            }
        }
        &-btn {
            display: flex;
            flex-direction: row;
            
        }
        &-prev, &-next{
            padding:8px 20px;
            border: 1px solid ;
            cursor: pointer;
            font-size:  18px;
            border-radius: 30px 0 0 30px;
            transition: all .3s ease-in;
        }
        &-next{
            border-radius: 0px 30px 30px 0px;
        }
        &-prev:hover, &-next:hover{
            transition: all .3s ease-in;
            background: black;
            color: white
        }
        @media screen and (max-width: 767px){
            padding: 10px 25px 10px 23px;
            &-title{
                font-size: 14px;
                line-height: 15px;
            }
            &-price{
                font-size: 16px;
                padding-bottom: 15px;
                line-height: 35px;
            }
            &-ml{
                font-size: 12px;
            }
            &-rate{
                padding-bottom: 20px;
            }
            &-prev, &-next{
                padding: 4px 10px;
                font-size: 12px;
            }
        }
    }
}
@keyframes animateCircle{
   from { transform: rotate(0deg) translateX(25px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(25px) rotate(-360deg);}
}
.btn-scroll-top{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    // border: 1px solid red;
    background: #FFF8E7;
    display: none;
    color: black;
    border-radius: 20px;
    font-size: 22px;
    margin-bottom: 10px;
    cursor: pointer;
}
.is-sticky{
    position: fixed;
    width: 80%;
    height: 70px;
    background: white;
    z-index: 10000000;
    padding: 0 90px;
    // transition: all .3s linear;
    @media screen and (max-width: 1440px){
        width: 100%;
        padding: 0 50px;
    }
    @media screen and (max-width: 767px){
        height: 60px;
    }
}
.mobile-active{
    flex-flow: column;
    position: fixed;
    top: 0;
    height: 500px;
    transform: translate(100px, 50px);
    background-color: white !important;
    /* width: 100%; */
    padding: 0 100px 0 50px;
    height: 100%;
    display: flex !important;
}
.rotate-active{
    transform: rotate(45deg);
    color: red
    // transition: all .3s linear;
}
